In [8]:
import os
import yaml
import datetime
import psycopg2
import pandas as pd
import urllib.request
from sqlalchemy import text
from sqlalchemy import create_engine

In [5]:
# setting WD
os.chdir([PUT WORKING DIRECTORY HERE])

In [6]:
# database connection info
with open([PATH TO REDSHIFT CREDENTIALS YML FILE], 'r') as stream:
    try:
        rs_cred = yaml.safe_load(stream)
    except yaml.YAMLError as exc:
        print(exc)
engine_url = "postgresql://{user_name}:{pw}@{host}:{port}/{db_name}".format(user_name = rs_cred['default']['user'],
                                                                            pw        = urllib.parse.quote_plus(rs_cred['default']['password']),
                                                                            host      = rs_cred['default']['host'],
                                                                            port      = rs_cred['default']['port'],
                                                                            db_name   = rs_cred['default']['dbname']
                                                                           )
engine = create_engine(engine_url)

In [11]:
# query
query = open([PATH TO SQL FILE], 'r')
query_text = text(query.read())
df = pd.read_sql_query(query_text, engine)

In [12]:
df.head()

,created_at_time,created_date,order_id,customer_last_name,customer_first_name,customer_id,customer_email,order_name,country,discount,...,size,collection,pattern_category,color,collection_launch_date,cancelled_date,cancelled,return_date,return_amount,net_sales
0,2017-10-24 12:17:00,2017-10-24,6616814852,Darling,Veronica,7767051332,veronicasuedarling@gmail.com,#4658,US,0.00,...,5x7,BOHEMIAN,Bordered,Pink / Purple,2018-01-01,None,False,None,0.0,179.00
1,2017-11-10 08:38:54,2017-11-10,35143483396,Sinkler,Caroline,52682031108,calsinkler@yahoo.com,#4974,US,0.00,...,3x5,RUGGABLE CLASSICS,Traditional,Blue / Green,2018-01-01,None,False,None,0.0,89.00
2,2017-09-29 15:42:51,2017-09-29,6526319748,Crane,Patricia,7581241924,pcrane@umich.edu,#4216,US,0.00,...,5x7,BOHEMIAN,Bordered,Yellow / Gold / Orange,2018-01-01,None,False,None,0.0,179.00
3,2017-11-23 06:42:21,2017-11-23,199277740063,Boquist,Rebecca,56309284868,rebecca.boquist@gmail.com,#5452,US,-22.25,...,3x5,RUGGABLE CLASSICS,Solids & OmbrÃ©S,Warm / Neutrals,2018-01-01,None,False,None,0.0,66.75
4,2017-12-02 16:22:04,2017-12-02,220216786975,Songne,Michelle,381895475231,mahsvilla@gmail.com,#6231,US,0.00,...,3x5,FLORAL,Geometric,Pink / Purple,2018-01-01,None,False,None,0.0,60.00